<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/logo/favicon.png}" sizes="48x48"/>
    <title>University Study Service System</title>
    <link th:href="@{/css/custom_style.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/custom_js.js}"></script>
    <script th:src="@{/js/preloader.js}"></script>
</head>

<div th:fragment="preloader" class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<header th:fragment="header" class="header_area">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand " th:href="@{/}"><img class="navbar-brand img" th:src="@{/img/logo/logo.png}"></a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars text-white"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item"><a class="nav-link dashcss" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li class="nav-item active"><a class="nav-link" href="javascript:void(0);"><i class="fas fa-house-user"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}" data-path="login"><i class="far fa-clone"></i>Components</a></li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="componentsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-clone"></i>Components
                    </a>
                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">
                        <a class="dropdown-item" href="/components/component1">Component 1</a>
                        <a class="dropdown-item" href="/components/component2">Component 2</a>
                        <a class="dropdown-item" href="/components/component3">Component 3</a>
                        <a class="dropdown-item" href="/components/component4">Component 4</a>
                        <a class="dropdown-item" href="/components/component5">Component 5</a>
                    </div>
                </li>-->

                <li class="nav-item"><a class="nav-link" th:href="@{/registration}" data-path="registration"><i class="far fa-calendar-alt"></i>Calendar</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>ComponentsFree</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>ComponentsFree</a></li>
            </ul>
        </div>
    </nav>
</header>


<footer th:fragment="footer" class="footer bg-light text-center mt-auto">
    <div class="container text-muted">
        <small>Created by <a class="text-reset" href="www.isa.com">InfiniteLoopers {InfoShare Academy}</a>
            2023</small>
    </div>
</footer>
