<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista Uczniów</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<form action="/logout" method="post" class="text-right">
  <button type="submit" class="btn btn-danger">Wyloguj się</button>
</form>
<div class="container mt-5">
  <h2>Lista Uczniów</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.firstName}"></td>
      <td th:text="${student.lastName}"></td>

      <td>
        <a class="btn btn-primary" th:href="'/teacher/add-grade/' + ${student.id}">Dodaj Ocenę</a>
        <a class="btn btn-success" th:href="'/teacher/view-grades/' + ${student.id}">Wyświetl Oceny</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

