<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj Ocenę</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<form action="/logout" method="post" class="text-right">
  <button type="submit" class="btn btn-danger">Wyloguj się</button>
</form>
<div class="container mt-5">
  <h2>Dodaj Ocenę</h2>
  <form th:action="@{/teacher/add-grade}" method="post" th:object="${gradeForm}">
    <input type="hidden" th:field="*{studentId}">
    <div class="form-group">
      <label for="subject">Przedmiot:</label>
      <select class="form-control" th:field="*{subject}">
        <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="grade">Ocena:</label>
      <select class="form-control" th:field="*{grade}" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Dodaj Ocenę</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
